<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot Working</title>
  </head>
  <body>
    <nav>
      <a href="#Working">Working</a>
      <a href="#Unemployed">Unemployed</a>
    </nav>
  </body>
</html>
